language: php

php:
  - hhvm
  - 5.6
  - 5.5
  - 5.4
  - 7.0
  - nightly

before_install:
  - mkdir -p /home/travis/.phpenv/versions/hhvm/etc
  - composer self-update

before_script:
  - phpenv config-add phpunit.cnf.ini
  - composer update
  - composer require satooshi/php-coveralls

script:
  - mkdir -p build/coverage
  - phpunit --coverage-clover build/coverage/clover.xml

after_script:
 - chmod 777 build/coverage/clover.xml
 - php vendor/bin/coveralls -v

notifications:
  on_success: change
  on_failure: always

matrix:
  fast_finish: true
  allow_failures:
   - php: 7.0
   - php: nightly
   - php: hhvm
